{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block extra_css %}
    <!-- Enlazar el archivo CSS que contiene los estilos -->
    <link rel="stylesheet" href="{% static 'css/marca.css' %}">
{% endblock %}

<header>
    <div class="header-content">
        <div class="logo">
            <img src="{% static 'img/scrum-removebg-preview.png' %}" alt="">
        </div>
        <div class="menu" id="show-menu">
            <nav>
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href="/productos/"> <i class="fas fa-headset"></i> Productos</a></li>
                    <li class="menu-selected"><a href="/marca/" class="text-menu-selected">
                        <i class="fab fa-youtube"></i> Marca</a></li>
                    <li><a href="/proveedores/"> <i class="fas fa-headset"></i> Proveedores</a></li>
                    <li><a href="/nosotros/"><i class="fas fa-file-alt"></i> Nosotros</a></li>
                    <li><a href="/contacto/"><i class="fas fa-headset"></i> Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="icon-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>

<div class="container-agregar">
    {% if formarca.errors %}
        <div class="alert alert-danger">
            {{ formarca.non_field_errors }}
            {% for field in formarca %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ formarca.as_p }}
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar marca</button>
        </div>
    </form>
</div>
{% endblock %}
